#icon{
    float: left;
    vertical-align: auto;
    
}

#test {
    background-color: aqua;
}

h1{
    text-align: center;
}

/* #header {
    background-color: #E1921E;
} */

#top {
    border-bottom: solid 2px royalblue;
    width: 100vw;
}

#statustextfield {
    background-color: white;
    border-color: white;
    box-shadow: none;
    margin-top: 0px;
    width: 210px;
}

#grid2 {
    background-color: blue;
}

/* .status-card {
    background: #ffd5ad !important;
} */
.status-box {
    text-align: left;
    /* position: relative; */
}

.status-name h1 {
    text-align: left;
    position: relative;
}

.status-status {
    text-align: left;
    /* position: relative; */
}
