/*#label{
    labelPlacement="start";
}*/
/*formControl: {

    margin: theme.spacing(3),
}
*/

#tasks {
    text-align: left;
}

#addicon {
    width: 50px;
    position: absolute;
    top: 600px;
    left: 340px;
}